@import url('https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,500;0,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', 'Manrope', sans-serif;
    background-color: rgb(234, 234, 238);
    color: #333;
    font-weight: 300 !important;
}
